<header>
    <a href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Logo Arredofrigo">
    </a>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/chi-siamo' | relative_url }}">Chi siamo</a>
      <a href="{{ '/realizzazioni' | relative_url }}">Realizzazioni</a>
      <a href="{{ '/servizi' | relative_url }}">Servizi</a>
      <a href="{{ '/progettazione-cucine-professionali' | relative_url }}">Progettazione</a>
      <a href="{{ '/contatti' | relative_url }}">Contatti</a>
    </nav>
  </header>