
{% assign side = include.img_side | default: "left" %}
<div style="display: flex; align-items: center; gap: 1.5rem; flex-wrap: wrap; margin-top: 1rem; justify-content:center">
  {% if side == "left"%}
  <div style="flex: 0 0 auto;">
    <img src="{{ include.img_src }}" alt="{{ include.img_alt }}" class="{{ include.img_class | default: 'img-base' }}">
  </div>
    <div style="flex: 1; min-width: 250px;">
    {{ include.text | markdownify }}
  </div>
  {% else %}
  <div style="flex: 1; min-width: 250px;">
    {{ include.text | markdownify }}
  </div>
  <div style="flex: 0 0 auto;">
    <img src="{{ include.img_src }}" alt="{{ include.img_alt }}" class="{{ include.img_class | default: 'img-base' }}">
  </div>
  {% endif %}
</div>