body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f4f4f4;
}

header img {
  max-height: 80px;
}

nav {
  margin-top: 1rem;
}

nav a {
  margin: 0 0.75rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

@media (max-width: 600px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    margin: 0.5rem;
  }
}

footer {
  background-color: #f4f4f4;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  margin-top: 3rem;
}

.footer-inner {
  max-width: 800px;
  margin: 0 auto;
}

.img-base {
  width: 80%;
  max-width: 300px;
  border-radius: 12px;
  /* object-fit: cover; */
  display: block;
  margin: 0 auto;
}

.img-icon{
  width: 180px;
  height: 180px;
  object-fit: cover; 
  border-radius: 50%; 
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
/* Specifico stile per pagina fornitori con griglia */

.grid-marchi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.5rem;
  padding: 2rem 1rem;
  /* background: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; */
}

.marchio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: white;
  /* border: 1px solid #eee; */
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  height: 100px;
}

.marchio:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.marchio img {
  max-height: 60px;
  max-width: 100%;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.2s ease;
}

.marchio img:hover {
  filter: none;
  transform: scale(1.05);
}

/* Fine Specifico stile per pagina fornitori con griglia */