<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Arredofrigo</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="stylesheet" href="{{ '/assets/css/default-style.css' | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon"
    href="{{ '/assets/img/cropped-favicon-sito-32x32.png' | relative_url }}">
  <script data-goatcounter="https://arredofrigo.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>

<body>

  {% include header.html %}
  
    {{ content }}
  
  {% include footer.html %}

</body>

</html>
